<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin2/fragments/comm :: comm-head}">
  
  </head>
  <body>
  
	 <nav th:replace="~{admin2/fragments/comm :: navbar}"></nav>
 
	 <div class="container my-5">
	    
	    <h2>상품목록</h2>
	    
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">상품명</th>
		      <th scope="col">가격</th>
		      <th scope="col">수량</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="item, itemStat : ${items}">
		      <th scope="row" th:text="${itemStat.count}">1</th>
		      <td><a th:href="@{/admin2/items/{itemId}(itemId=${item.id})}" th:text="${item.itemName}"></a></td>
		      <td th:text="${item.price}">1000</td>
		      <td th:text="${item.quantity}">5</td>
		    </tr>	   
		  </tbody>
		</table>
		
		<a type="button" th:href="@{/admin2/items/addForm}" class="btn btn-primary">상품등록</a>
	
	</div>
	
    <script th:replace="~{admin2/fragments/comm :: bottom-script}"></script>
  
  </body>
</html>