<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/comm :: comm-head}">
  
  </head>
  <body>
  
	 <nav th:replace="~{fragments/comm :: navbar}"></nav>
 
	 <div class="container my-2">
	    
	    <h4>상품관리</h4>
	    

		
		<a type="button" th:href="@{/admin2/items/addForm}" class="btn btn-primary">상품등록</a>
		<button type="button" class="btn btn-outline-secondary">Secondary</button>
	
	</div>
	
    <script th:replace="~{fragments/comm :: bottom-script}"></script>
  
  </body>
</html>