<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품관리(form)</title>
<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{fragments/common/main :: navBar}"></nav>

<!-- Contents -->

<div class="container mt-4">
	<h1 class="text-center">상픔정보수정</h1>
	
	<form th:object="${item}" method="post">
		<div class="mb-1">
		  <label for="id" class="form-label">ID</label>
		  <input type="text" class="form-control" th:field="*{id}" readonly>
		</div>
		
		<div class="mb-1">
		  <label for="itemName" class="form-label">상품명</label>
		  <input type="text" class="form-control" th:field="*{itemName}">
		</div>
		<div class="mb-1">
		  <label for="price" class="form-label">가격</label>
		  <input type="text" class="form-control" th:field="*{price}">
		</div>
		<div class="mb-1">
		  <label for="quantity" class="form-label">수량</label>
		  <input type="text" class="form-control" th:field="*{quantity}">
		</div>	
		
		<hr />
		
		<div>판매여부</div>
		<div class="form-check mb-3">
		  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
		  <label class="form-check-label" for="flexCheckChecked">
		    판매오픈
		  </label>
		</div>
		
		<div>판매지역</div>	
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault">
		    서울
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
		  <label class="form-check-label" for="flexCheckChecked">
		    부산
		  </label>
		</div>	
		<div class="form-check form-check-inline mb-3">
		  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
		  <label class="form-check-label" for="flexCheckChecked">
		    제주
		  </label>
		</div>
		
		<div>상품종류</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		  <label class="form-check-label" for="flexRadioDefault1">
		    도서
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
		  <label class="form-check-label" for="flexRadioDefault2">
		    음악
		  </label>
		</div>
		<div class="form-check form-check-inline mb-3">
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
		  <label class="form-check-label" for="flexRadioDefault2">
		    기타
		  </label>
		</div>
	
		<div>배송방색</div>
		<select class="form-select" aria-label="Default select example">
		  <option selected>배송방식선택</option>
		  <option value="1">빠른배송</option>
		  <option value="2">일반배송</option>
		  <option value="3">느린배송</option>
		</select>
	
		<hr />
		
		<div class="d-flex justify-content-end p-2">
			<button type="submit" class="btn btn-primary mx-1">상품수정완료</button>
			<a type="button" class="btn btn-secondary" href="/shop/items">취소</a>
		</div>
	</form>
	
</div>
<div style="height:200px">XXXX</div>
<!-- // Contents -->

<div th:replace="~{fragments/common/main :: footer}"></div>

<script th:replace="~{fragments/common/main :: bootjs}"></script>
</body>
</html>