<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품관리(form)</title>
<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{fragments/common/main :: navBar}"></nav>

<!-- Contents -->
<div class="container mt-4">
	<h1 class="text-center">상품목록</h1>
	
	<div class="d-flex justify-content-end p-2">
		<a type="button" class="btn btn-primary" href="/admin/item/add">상품등록</a>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">상품명</th>
	      <th scope="col">가격</th>
	      <th scope="col">수량</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="item : ${items}">
	      <th scope="row" th:text="${item.id}">1</th>
	      <td><a th:href="@{/admin/item/{itemId}/info(itemId=${item.id})}" th:text="${item.itemName}">상품명1111</a></td>
	      <td th:text="${item.price}">00</td>
	      <td th:text="${item.quantity}">00</td>
	    </tr>	    
	  </tbody>
	</table>	
</div>
<!-- // Contents -->

<div th:replace="~{fragments/common/main :: footer}"></div>

<script th:replace="~{fragments/common/main :: bootjs}"></script>
</body>
</html>